<div class="register-form">
  <img src="./assets/logo.png" width="320" />
  <h4>Register for New Account</h4>
  <form>
    <div class="form-group">
      <input [(ngModel)]="registerData.name" class="form-control" name="username" placeholder="Requested User Name"/>
    </div>
    <div class="form-group">
      <input [(ngModel)]="registerData.email"  class="form-control" name="email" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input [(ngModel)]="registerData.pwd" class="form-control" name="password" type="password"  placeholder="Password"/>
    </div>    
    <div class="form-group">      
      <select class="form-control" name="pledge" placeholder="Pledge" [(ngModel)]="registerData.pledge">                    
        <option *ngFor="let pledge of pledges" value="{{ pledge.name }}">{{ pledge.name }}</option>
      </select>       
    </div>
    <div *ngIf="formError" class="alert alert-danger">
      {{ formError }}
    </div>
    <button class="btn btn-default" routerLink="/sign-in" routerLinkActive="active">Cancel</button>
    <button class="btn btn-primary" (click)="register()">Register</button>
  </form>
</div>
