:host {
    flex-grow: 1;
}

.group {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
}

.group-small {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
}

.title-group-small {
    display: flex;
}

.btn-space {    
    margin: 2px;
}

.item-image {
    width: 80px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.item-image-small {  
    width: 80px;
    height: 100px; 
}

.item-name {
    display: flex;
    flex-grow: 1;
    font-size: 15px;
    color: #555;
    align-items: center;
    justify-content: center;
}

.item-name-small {
    display: flex;
    flex-grow: 1;
    font-size: 15px;
    color: #555;
    margin: 2px;
    align-items: center;
    justify-content: center;
}

.epi-index {
    display: flex;
    flex-grow: 1;
    font-size: 25px;
    width: 30px;
    color: white;
    background-color: green;
    align-items: center;
    justify-content: center;
}

.epi-index-small {
    display: flex;
    flex-grow: 1;
    font-size: 15px;
    color: white;
    background-color: green;
    text-align: center;
    align-items: center;
    justify-content: center;
}